*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#grid{
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    gap: 1rem;
    margin: 3rem auto;
}
.case{
    
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
     font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
p{
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;

}

p:first-of-type{
    color: lightseagreen;
}